{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PUTRI PROFILE</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-navbar" style="width: 100%;" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse bg-navbar" id="navbarsExample03">
                  <ul class="navbar-nav mr-auto green">
                    <li class="nav-item active">
                      <a class="nav-link green fontnavbar" href="..">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link green fontnavbar" href="education">Education</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link green fontnavbar" href="experience">Experience</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link green fontnavbar" href="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link green fontnavbar" href="register">Registration</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link green fontnavbar" href="fillact">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link green fontnavbar" href="showact">Activity Result</a>
                      </li>
                  </ul>
                </div>
              </nav>
              {% block content %}
              {% endblock %}
              </body>
              </html>
