{% extends 'base.html' %}
{% load static %}
    {% block content %}
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-2 edu">
                        <b><br/>R<br/>E<br/>G<br/>I<br/>S<br/>T</b>
                      </div>
                      <div class="col-sm-10">
                    <form>
                        <div class="form-group font-regis">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Full Name">
                        </div>
                        <div class="form-group font-regis">
                            <label for="inputName">Username</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Username">
                        </div>
                        <div class="form-group font-regis">
                            <label for="inputName">BirthDate</label>
                            <input type="date" class="form-control" id="inputDate">
                        </div>
                        <div class="form-group font-regis">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group font-regis">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                        <div class="form-group font-regis">
                            <label for="inputPassword4">Confirmation Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Confirmation Password">
                        </div>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </form>
                    {% endblock %}