{% extends 'base.html' %}
{% load static %}
{% block content %}
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-2 edu">
                        <br/><b>C<br/>O<br/>N<br/>T<br/>A<br/>C<br/>T<br/><br/></b>
                      </div>
                      <div class = "col-sm-5 img-contact">
                            <div class="row pl-3">
                                <p class="infocontact"><img src="http://www.iglesiacfnv.com/hp_wordpress/wp-content/uploads/2017/08/email-logo.png" width="100"/>dindaputri99@gmail.com</p>
                            </div>
                            <div class="row pl-3">
                                <p class="infocontact"><img src="https://mbtskoudsalg.com/images/logo-telephone-png-6.png" width="100"/>082299482339</p>
                            </div>
                            <div class="row  pl-3">
                                <p class="infocontact"><img src="https://icon-icons.com/icons2/694/PNG/512/Line_Rounded_icon-icons.com_61567.png" width="100"/>dmqputri</p>
                            </div>

                      </div>
                  
                       
                      
                    </div>
                </div>
                {% endblock %}