{% extends 'base.html' %}
{% load static %}
{% block content %}


              <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-2 edu">
                       <b>E<br/>D<br/>U<br/>C<br/>A<br/>T<br/>I<br/>O<br/>N<br/><br/></b>
                      </div>
                      <div class="col-sm-8 edu1" style="background-color:#77957D;height: 100%">
                         <b>SDN Cipinang Cempedak 02 Pagi</b><br/>
                         2005 - 2011<br/><br/>
                         <b>SMPN 5 Bandung</b><br/>
                         2011 - 2014<br/><br/>
                         <b>SMAN 54 Jakarta</b><br/>
                         Science Major, 2014 - 2017<br/><br/>
                         <b>Universitas Indonesia</b><br/>
                         Information System Major, 2017 - now

                      </div>
                    </div>
                  </div>
                  {% endblock %}