{% extends 'base.html' %}
{% load static %}
{% block content %}
            
            <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-2 edu ml-0">
                            <b>E<br/>X<br/>P<br/>E<br/>R<br/>I<br/>E<br/>N<br/>C<br/>E<br/></b>
                        </div>
                            <div class="col-sm-10">
                                <div class="row text-center">
                                    <div class="col-sm-6 col-lg-4">
                                        <img class="rounded-circle img-liquid" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/15037160_1254807287873286_187013187235667529_n.jpg?_nc_cat=111&oh=2d21c10fe348380b25ff5ffb6b63064b&oe=5C176894" 
                                        alt="Generic placeholder image" width="200" height="200">
                                        <p class="paks">PAKS (Persepsi Apresiasi Kreasi dan Seni)<br>
                                        Treasurer,Nov 2016-May 2017</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <img class="rounded-circle img-liquid" src="https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.0-9/42141572_2002065333147474_5060387230434983936_n.jpg?_nc_cat=111&oh=5ff491a32fd64707040c654dcaeca4f7&oe=5C1490D4" 
                                        alt="Generic placeholder image" width="200" height="200">
                                        <p class="paks">Open House Fasilkom UI 2017 <br>Staff of Public Relation, Sept 2017 - Okt 2017</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <img class="rounded-circle img-liquid" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42194718_2002064599814214_7267658837534965760_n.jpg?_nc_cat=100&oh=d39c667325fd988ddaa5caa53fee7e7a&oe=5C1B09DB" 
                                        alt="Generic placeholder image" width="200" height="200">
                                        <p class="paks">BEM Fasilkom UI 2018<br>Staff of Public Relation, Feb 2018 - now</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                            <img class="rounded-circle" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41982664_2002064883147519_2340029102053916672_n.jpg?_nc_cat=110&oh=2e68b47c9b006338ad9b47203a0ee3be&oe=5C628846" 
                                            alt="Generic placeholder image" width="200" height="200">
                                            <p class="paks">Wisuda Genap Fasilkom UI<br>Vice Project Offier, Aug 2018</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                            <img class="rounded-circle" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42194220_2002090416478299_2352600900826038272_n.jpg?_nc_cat=111&oh=c1e4dcdf54973fd357c87726d9b5c3fc&oe=5C2CC65E" 
                                            alt="Generic placeholder image" width="200" height="200">
                                            <p class="paks">54 Cup vol.9 <br>Staff of Event, May 2017</p>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                            <img class="rounded-circle" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42227734_2002091439811530_5820341187625615360_o.jpg?_nc_cat=109&oh=842d12f757abe110e8b051a4f849314b&oe=5C29076B" 
                                            alt="Generic placeholder image" width="200" height="200">
                                            <p class="paks">Compfest X<br/>Staff of Business IT Case Competition, Feb 2018 - Sept 2018</p>
                                    </div>
                                </div>
                            </div>    
                </div>
                
            </div>
            {% endblock %}