{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="container-fluid">
            <div class="row">
              <div class="col-sm-2 edu">
                <b><br/>A<br/>C<br/>T<br/>I<br/>V<br/>I<br/>T<br/>Y<br/></b>
              </div>
            <div class="col-sm-10 font-regis">
                <form id ="" method="POST" action="saveact">
                    {% csrf_token %}
                    {{saveact.as_p}}
                    <div class = "submit-btn">
                        <input id="submit"type="submit"class="btn btn-dangery"value="Submit">
                    </div>
                </form>
                {% endblock %}