{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h1 style="font-family:verdana; font-size:50px; text-align:center;color: #e9fde9">My Activity</h1>
</div>

<section class = "result">
    <table class = "table">
        <thead>
            <th>Activity</th>
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Category</th>
        </thead>
        <tbody>
            {% for i in jadwal %}
            <tr>
                <td>{{i.activity}}</td>
                <td>{{i.days}}</td>
                <td>{{i.dates}}</td>
                <td>{{i.time}}</td>
                <td>{{i.place}}</td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form id ="" action="deleteact">
            <div class = "submit-btn">
                <input id="submit"type="submit"class="btn btn-dangery"value="Delete All">
            </div>
        </form>
    {% endblock %}

