{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <div class = "container-fluid">
        <div class="row featurette">
            <div class="col-md-6 order-md-1"  style="background-color:#E3F6EC;" style="height: auto;">
                <img class="featurette-image img-fluid mx-auto" alt="500x500" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41965117_2000843566602984_4156783762702598144_n.jpg?_nc_cat=109&oh=b48a5059297baef6ad857d3bda4fb913&oe=5C1F69EC" 
                    data-holder-rendered="true" style="width: 100%;">
                        
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto imghome" alt="500x500" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42045023_2000851326602208_375297596693938176_o.jpg?_nc_cat=109&oh=2d9664a0a5f05bbd4bb4682a4aaed335&oe=5C5D6A15" 
              data-holder-rendered="true" style="width:auto; height: auto;">
            </div>
            
        </div>
        </div>      
        {% endblock %}