body {background-color:#77957D;}
/* Style the top navigation bar */


.font-regis{
    color: #e9fde9;
}

.bg-navbar {
    background-color:#C4C4C4;
}

.green {
    color: #327730 !important;
}
.fontnavbar{
   font-family: Verdana;
   font-size:17px; 
}
.edu{
    background-color:#e3f6ec;
    color: #327730;
    text-align: center;
    font-family: Verdana;
    font-size: 3vw;

}
.edu1{
    color: #e9fde9;
    text-align: center;
    font-size: 25px;
    margin-top: 65px;
    margin-left: 10px
}
.paks{
    color: #e9fde9;
    font-size: 15px;
}
.layout{
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}
div.img-contact{
    float: left;
    
}
.infocontact{
    color: #e9fde9;
    font-size: 30px;
    
}

.imghome{
    margin-top: 70px;
}
@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.middle {
		width: auto;
		float: none;
	}
	
	.right {
		width: auto;
		float: none;
	}

}